h2{
    margin-top: -200px;
    color: #000000;
}
h2, p {
    text-align: center;
}

.column {
  display: table;
  /*width: 30%;*/
  height: 300px;
}
.columnIn1{
    border: 1px solid lightgray;
    border-radius: 20px 20px;
    text-align: center;
    width: 100%;
}
.columnIn2{
    font-size: 20px;
    border: 1px solid lightgray;
    position: relative;
    text-align: center;
    height: 200px;
    padding: 30px;
    color: white;
    background-color: darkgrey;
    border-radius: 10px 10px 10px 10px;
}
.diaryAll {
    padding: 60px;
    display: inline-block;
}
.content {
    text-align: center;
}
.btnall {
    margin-top: -30px;
    text-align: center;
}
.btn1{
    width: 200px;
    height:50px;
    font-size: 25px;
}
.green {
    color: #99cc99;
}
