{% extends 'base.html' %}

{% block title %}세바퀴{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/quizinfo.css" %}{% endblock %}
{% block content %}
<div class="content">
<br/><br/><br/><br/>
    <h2>&nbsp</h2>
    <h3><strong>퀴즈 안내</strong></h3>
    <hr align="center" style="border: solid 2px #99cc99; width:100%;">
    <br/>

    <div><br/>
        <br />
        <table style="margin:auto">
            {% for quizSub,item in quizinfos %}
            <tr>
                <td></td>
                <td><img width="200px" src="{{ quizSub.photo.url }}">&nbsp;</td>
                <td>[{{ quizSub.name }}]퀴즈 맞추면 "{{ quizSub.item }}"도구 획득!&nbsp;&nbsp;</td>
                <td><img width="120px" src="{{ item.photo.url }}"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div style="text-align: center">
        <hr align="center" style="border: solid 2px lightgrey; width:100%;"><br />
        <button class="btn1 btn btn-outline-success" onclick="history.back(-1);">BACK</button>
        <button type="button" class="btn1 btn btn-outline-success" onclick="location.href='{% url 'home' %}'">Home</button>
    </div>
</div>
{% endblock %}