body {
    /*font-family: 'Noto Sans KR', sans-serif;*/
    font-size: 16px;
    height: 1000px;
}
.navbar{
    background-color: #99cc99;
    color: white;
    height: 70px;
}

.navbar li a{
    margin-left: 20px;
    font-size: 23px;
    color: white !important;
}

.navbar li a:hover{
    margin-left: 20px;
    color: #6c6c6c !important;
}

.logo {
    width: 110px;
    height: 110px;
    margin-left: 10px;
}

.welcome {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    float: right;
    padding-right: 20px;
    color: #6c6c6c;
    font-weight: normal;
    font-size: 16px;
}

.welcome a:link, .welcome a:visited {
    color: #01a252;
}

/* MENU */
div#menu a:link, div#menu a:visited {
    color: #fff;
}

div#menu > li {
    display: table-cell;
    vertical-align: middle;
    /*border: 2px solid #bbb;*/
    text-align: center;
    font-weight: bold;

}

#menu > li:hover {
    background-color: #01b15e;
    cursor: pointer;
}

/* LINK */
a:link, a:visited {
    color: #01a252;
    text-decoration: none;
}

a:hover {
    /*text-decoration: underline;*/
    cursor: pointer;
}


/*푸터*/
#footer {
    position: relative;
    top: 270px;
    /*background-color: #555;*/
    bottom: 0;
    /*height: 30px;*/
    /*padding: 20px 20px 100px 20px;*/
    text-align: left;
}
/*하단 스크롤*/
.scroll {
    display: block;
    line-height: 100px;
    clear: both;
    background: #272727;
}
.inner_wrap {
    width: 100%;
    display: block;
    margin: 0 auto;
    min-width: 1200px;
}
.scroll_up {
    height: 100px;
    background: #272727;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
}

.scroll_up span {
    border-left: 1px solid #313030;
    border-right: 1px solid #313030;
    width: 200px;
    display: inline-block;
    font-size: 18px;
    height: 100px;
    margin-bottom: 100px;
}
.scroll_up > a {text-decoration: none;}
span {color: #fff; font-size: 24px;}
#copyright p {color: #fff; font-size: 12px; margin: 10px;}
#copyright {
    display: block;
    background: #313030;
    clear: both;
}
#copyright .copy {
    margin: 0 auto;
    text-align: center;
}
#copyright .copy ul li {
    float: left;
    height: 130px;
}
#copyright .copy ul {
    clear: both;
    display: block;
    width: 100%;
    padding-top: 60px;
}
#copyright .add {
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}
#copyright .add span {
    padding-bottom: 50px;
    display: block;
    font-size: 13px;
    padding-top: 25px;
    font-weight: 200;
}





section {
    padding: 30px 0;
}

section .section-title {
    text-align: center;
    color: #99cc99;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #99cc99 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

