{% extends 'base.html' %}

{% block title %}세바퀴{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/login_forms.css" %}{% endblock %}

{% block content %}
<div class="panel panel-default registration">
<br/><br/><br/><br/>
    <div class="panel-heading centered">
        <h1>로그인</h1>
    </div>
    <br/>
    <div class="panel-body">
        <form action="." method="post">
            {% csrf_token %}
                {% if form.errors %}
                  <p class="error-note">
                      이메일 또는 비밀번호를 다시 확인하세요.
                  </p>
                {% endif %}
            {% for field in form %}
                <div class="form-group {% if field.errors|length > 0 %}has-error{%endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <input name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control" type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}">
{#                    {{ field.errors }}#}
                    <br/>
                </div>
            {% endfor %}
            <div class="form-actions">
                <button class="btn btn-primary btn-large" type="submit">로그인하기</button>
            </div>
            <a href="{% url 'user:resend_verify_email' %}">
                <div class="link-below-button">인증이메일 재발송</div>
            </a>
        </form>
    </div>
</div>
{% endblock content %}

{% block footer %}
{# 922 - 광고배너. 각 앱의 view에 작성한 곳만 나타남 #}

<section id="footer" style="top: 350px;">
    <div class="advertising">
        <span><a href="{{ advertising1.url }}"><img src="{{ advertising1.photo.url }}" class="adv_img"/></a>
        <a href="{{ advertising2.url }}"><img src="{{ advertising2.photo.url }}" class="adv_img"/></a></span>
    </div>
  <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <a href="#"><h6 class="text-uppercase mb-4 font-weight-bold">SCROLL UP</h6></a>
            <p>&nbsp;</p>
        </div>
     <div class="row text-center text-xs-center text-sm-left text-md-center">
        <div class="col-xs-12 col-sm-4 col-md-4 text-white">
           <h5>Threewheel Company</h5>
           <ul class="list-unstyled quick-links">
                    <li><i class="fa fa-angle-double-right"></i>Home : threequiz.pythonanywhere</li>
                    <li><i class="fa fa-angle-double-right"></i>Email : threewheel@naver.com</li>
                    <li><i class="fa fa-angle-double-right"></i>Kakao : @세바퀴</li>
           </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-white">
           <h5>CS CENTER</h5>
           <ul class="list-unstyled quick-links">
              <li><i class="fa fa-angle-double-right"></i>070-2290-2114</li>
              <li><i class="fa fa-angle-double-right"></i>평일 : AM10:00-PM5:00</li>
              <li><i class="fa fa-angle-double-right"></i>점심시간 : PM12:50-PM1:50</li>
              <li><i class="fa fa-angle-double-right"></i>휴무 토 일 공휴일</li>
           </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-white">
           <h5>BANK INFO</h5>
           <ul class="list-unstyled quick-links">
              <li><i class="fa fa-angle-double-right"></i>카카오 뱅크 : 3333-02-3015687</li>
              <li><i class="fa fa-angle-double-right"></i>신한은행 : 110-385-174758</li>
              <li><i class="fa fa-angle-double-right"></i>예금주 : 주식회사 세바퀴</li>
           </ul>
        </div>
     </div>
     <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>&nbsp;</p>
                <p><u><a href="http://www.hywoman.ac.kr/">Hywoman University SmartIT3</a></u> Graduation work</p>
                <p class="h8">회사명: 주식회사 세바퀴 주소: 서울특별시 성동구 살곶이길 200
                    <br/>대표자: 217230109 김소이 | 217230109 김시인 | 217230110 장소희 | 217230114 신예림</p>
        </div>
        </hr>
     </div>
  </div>
</section>
{% endblock %}