{% extends "base.html" %}
{% block title %}세바퀴{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/login_forms.css" %}{% endblock %}

{% block content %}
<div id="content" style="margin-top:100px">
    <br/><br/><br/><br/><br/><br/>
    <h1 class="centered">비밀번호 변경</h1>
    <p class="centered">비밀번호가 변경되었습니다.</p>
    <p class="centered"><a href="{% url 'user:login' %}">로그인</a></p>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>
{% endblock %}
