{% extends 'base.html' %}

{% block title %}세바퀴{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/login_forms.css" %}{% endblock %}

{% block content %}<br/><br/><br/><br/>
<div class="panel panel-default registration">
    <div class="panel-heading">
        <h1 class="centered">비밀번호 변경</h1>
    </div>
    <br/>
    <div class="panel-body">
          <form action="." method="post">
              {% csrf_token %}
          <br/>
        <p class="centered">현재 비밀번호와 새로운 비밀번호를 입력해주세요.</p>
        <div class="form-group">
            {% for field in form %}
            <label for="id_{{ field.html_name}}">{{ field.label }}</label>
            <input name="{{ field.html_name }}" id="{{ field.id_for_label }}" class="form-control" type="{{ field.field.widget.input_type }}" value="{{ field.value|default_if_none:'' }}">
            {{ field.errors }}
            <br/>
            {% endfor %}
        </div>
        <div class="form-actions">
            <button class="btn btn-primary btn-large" type="submit">비밀번호 변경</button>
        </div>
        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>
    </form>
    </div>
</div>
{% endblock content %}