<table class="centered" style="background-color: #f2f2f2; box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; width: 100%; height: 100%; font-family: Arial Black, Gadget, sans-serif;" width="100%" height="100%">
  <tbody style="box-sizing: border-box;">
    <tr style="box-sizing: border-box; vertical-align: top;" valign="top">
      <td style="box-sizing: border-box;">
        <table style="box-sizing: border-box; font-family: Helvetica, serif; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; margin-top: auto; margin-right: auto; margin-bottom: auto; margin-left: auto; height: 0px; width: 90%; max-width: 550px;" width="90%" height="0">
          <tbody style="box-sizing: border-box;">
            <tr style="box-sizing: border-box;">
              <td class="desc" style="background-color: #FFFFFF; box-sizing: border-box; vertical-align: top; font-size: medium;" valign="top">
                <table style="margin: 0 auto; margin-top: 30px; box-sizing: border-box; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 0px;" height="0">
                  <tbody style="box-sizing: border-box;">
                    <tr style="box-sizing: border-box;">
                      <td class="desc" style="background-color: #FFFFFF; box-sizing: border-box; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; text-align: center;" bgcolor="rgb(255, 255, 255)" align="center">
                        <table style="box-sizing: border-box; width: 100%; min-height: 150px; padding-top: 5px; padding-right: 5px; padding-bottom: 5px; padding-left: 5px; height: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; border-collapse: collapse;" width="100%" height="0">
                          <tbody style="box-sizing: border-box;">
                            <tr style="box-sizing: border-box;">
                              <td class="desc" style=" background-color: #FFFFFF; margin-top: 30px; box-sizing: border-box; font-size: 13px; line-height: 20px; color: rgb(111, 119, 125); padding-top: 10px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px;">
                                <h1 style="box-sizing: border-box; font-size: 25px; font-weight: 300; color: rgb(68, 68, 68);">
                                  <span style="box-sizing: border-box; font-family: Arial,Helvetica,sans-serif; margin-top: 20px;">가입을 환영합니다!</span>
                                </h1>
                                <p style="box-sizing: border-box; margin-top: 20px;">
                                  <span style="box-sizing: border-box; font-family: Arial,Helvetica,sans-serif; margin-top: 20px;">가입하신 회원님은 아래 "인증하기" 버튼을 눌러서 인증해주세요.(가입하신 적이 없을 경우 무시하세요.)</span>
                                </p>
                                <table style="width: 100%; box-sizing: border-box; margin-top: 0px; margin-right: auto; margin-bottom: 10px; margin-left: auto; padding: 5px;">
                                  <tbody style="box-sizing: border-box;">
                                    <tr style="box-sizing: border-box;">
                                      <td style="box-sizing: border-box; padding-top: 10px; padding-right: 0px; padding-bottom: 10px; padding-left: 0px; text-align: center;" align="center">
                                        <a href="{{ url }}" class="button" style="font-family: Arial, Helvetica, sans-serif; box-sizing: border-box;
                                        font-weight: bold; font-size: 15px; background-color: rgb(153,204,153); padding: 2px 5px;
                                        color: #FFFFFF; text-decoration: none; border-radius: 4px; margin:0 auto;">인증하기</a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>