{% extends "admin/change_list.html" %}
{% block content_title %}
    <h1> 기부단체 선택 수 </h1>
{% endblock %}
{% block result_list %}
<div class="results">
    <table>
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">번호</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">기부단체</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">
              <strong>기부단체 선택 수</strong>
            </a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for qs, count in dnt_lst %}
      <tr class="{% cycle "row1" "row2" %}">
        <td> {{ qs.id }} </td>
        <td> {{ qs.name }} </td>
        <td> {{ count | default:0}}</td>
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div>
{% endblock %}
{% block pagination %}{% endblock %}