{% extends 'base.html' %}  {# '/blog/layout.html'로 하면 오류, .layout.html로 상대경로 지정방식 #}
{% block title %}세바퀴{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/board_detail.css" %}{% endblock %}
{% block content %}
{#    <a href="/blog/">게시판 목록으로 돌아가기</a><br/><br/>#}
{#    위는 하드코딩된 url 아래처럼 쓰려면, urls.py에서 name을 설정해야 함 #}
<br/><br/><br/><br/>
<div class="content">
<form style=" margin: 0 auto; width: 85%;" class="edit_form" method="POST">{% csrf_token %}
    <button type="button" class="btn btn-outline-success" onclick="location.href='{% url 'staff:board_list' %}'">공지사항 목록</button>
    <button type="submit" class="btn btn-outline-success save">저장</button>
    <br/><br/>

    <table class="table">
        <!--<thead>-->
        <!--    <th>필드</th><th>내용</th>-->
        <!--</thead>-->
        <tbody>
        <tr>
            <td>제목</td><td>{{ form.title }}</td>
        </tr>
        <tr>
            <td>내용</td>
            <td>{{ form.content }}</td>
        </tr>
        </tbody>
    </table><br/>
</form>
</div>
{% endblock %}
