{# 7.19 소이 - 작성 시작 #}
{% extends 'base.html' %}

{% block title %}세바퀴{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/donationOrg.css" %}{% endblock %}
{% block content %}
<div class="content">
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br> <br> <br> <br>
    <h2 class="title_name"><b>기부 단체</b></h2>
    <p>이달의 기부 단체에 대한 정보를 제공합니다.</p>
    <hr style="width: 300px; height: 4px; background-color: #99cc99;"> <br/>
    <hr style="width: 80%; height: 2px; background-color: #b4ecbe;"/>
    <div id="donation_org">
        {% for donations in object_list %}
            {% if donations.is_donate  %}  {# 이달의 기부단체 값이 true일 때만 화면에 표시 #}
            <table class="table">
                <tr class="">
                    <td style="border-top: none;" rowspan="5" id="td_photo"> <a href="{{ donations.url }}"><img src="{{ donations.photo.url }}" class="donation_photo"/></a> </td>  <!-- 923 소이. 이미지에도 링크 추가 -->
                </tr>
                <tr>
                    <td style="border-top: none;" class="change_width d-lg-table-cell d-md-table-cell d-sm-none d-none"> <img src="{% static 'img/donation_arrow.png' %}" class="arrow_photo"/> 단체명 <img src="{% static 'img/donation_bar.png' %}" class="bar_photo"/> </td>
                    <td style="border-top: none;"><b>{{ donations.name }}</b></td>
                </tr>
                <tr>
                    <td class="change_width d-lg-table-cell d-md-table-cell d-sm-none d-none"> <img src="{% static 'img/donation_arrow.png' %}" class="arrow_photo"/> 전화번호 <img src="{% static 'img/donation_bar.png' %}" class="bar_photo"/> </td>
                    <td>{{ donations.phone }}</td>
                </tr>
                <tr>
                    <td class="change_width d-lg-table-cell d-md-table-cell d-sm-none d-none"> <img src="{% static 'img/donation_arrow.png' %}" class="arrow_photo"/> 홈페이지 <img src="{% static 'img/donation_bar.png' %}" class="bar_photo"/> </td>
                    <td class="change_url  d-lg-table-cell d-md-table-cell d-sm-none d-none">{{ donations.url|urlize }}</td>
                </tr>
                <tr>
                    <td class="change_width d-lg-table-cell d-md-table-cell d-sm-none d-none"> <img src="{% static 'img/donation_arrow.png' %}" class="arrow_photo"/> 활동 <img src="{% static 'img/donation_bar.png' %}" class="bar_photo"/> </td>
                    <td>{{ donations.desc }}</td>
                </tr>
            </table>
            <hr style="width: 80%; height: 2px; background-color: #b4ecbe;"/>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}